.espacio {
    background-color: rgb(0, 0, 19);
    padding: 40px; /* Espaciado interno */
    text-align:left; /* Alineación del contenido */
    max-width: 100%; /* Ancho de la ventana */
    height: 600px; /* Altura de la ventana */
    
}



  .navbar .navbar-brand, 
  .navbar .nav-link {
    color: #ffffff !important; /* Cambia el color de las letras a blanco */
  }


  