<div class="afacad-flux-custom">
  <nav class="navbar navbar-expand-lg" style="padding-top: 20px; padding-bottom: 15px;">
    <div class="container-fluid">
      <!-- Ajustamos el margen a la izquierda del logo y aumentamos el tamaño de letra -->
      <a class="navbar-brand" style="margin-left: 80px; font-weight: bold; font-size: 24px;" href="#">
        JMG
        <!-- Añadimos el punto azul clarito, más bajo -->
        <span style="color: #0e8eb9; font-size: 30px; margin-left: -2px; vertical-align: sub;">•</span>
      </a>
    </div>
  </nav>
</div>
