<div class="afacad-flux-custom">
  <nav class="navbar navbar-expand-lg" style="padding-top: 20px; padding-bottom: 15px;">
    <div class="container-fluid">
      <!-- Ajustamos el margen a la izquierda del logo y aumentamos el tamaño de letra -->
      <a class="navbar-brand" style="margin-left: 80px; font-weight: bold; font-size: 24px;" href="#">
        JMG
        <!-- Añadimos el punto azul clarito, más bajo -->
        <span style="color: #0e8eb9; font-size: 30px; margin-left: -2px; vertical-align: sub;">•</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Ajustamos con 'margin-left' para mover un poco el menú a la izquierda -->
        <ul class="navbar-nav" style="font-size: 25px; justify-content: center; margin-left: 50px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">Sobre mí</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#proyectos">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
